<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <nav class="navigation">
        <a class="get_home" href="/">Get Home</a>
    </nav>
    <div class="content">
        {{!-- dont forget to change input type into checkbox--}}
        <form class="get_city"action="/weather" method="POST">
        <label for='title' class="title_label">Choose a city</label>
        <input type="text" name="cityname" id="cityname" placeholder="Moscow"/><button class="enter" type="submit">Current weather</button>
        </form>
    </div>
</body>
</html>